.row-fluid{data: {behavior: "slide_tracker"}}
  .slide-tracker
    .slide-actions.btn-group
      .remove_slide.btn.btn-danger -
      .add_slide.btn.btn-primary +
    %ul.slides.nav.nav-tabs

.row-fluid{data: {behavior: "showdown"}}
  %section.input.span4
    %textarea.vertical-fluid{name: "input"}

  %section.output.raw.span4{data: {behavior: "highlight"}}
    %pre.vertical-fluid
      %code.html

  %section.output.rendered.span4.vertical-fluid

%script{id: "slide_entry", type: "text/html"}
  %li.slide_entry
    %a
      %span.slide_order {{ order }}
      %span {{ caption }}