.row-fluid{data: {behavior: "showdown"}}
  %section.input.span4
    %textarea.vertical-fluid{name: "input"}

  %section.output.raw.span4
    %pre.vertical-fluid
      %code
  %section.output.rendered.span4