.row-fluid{data: {behavior: "showdown"}}
  %section.input.span4
    %textarea.vertical-fluid{name: "input"}

  %section.output.raw.span4{data: {behavior: "highlight"}}
    %pre.vertical-fluid
      %code.html

  %section.output.rendered.span4