body.home.index {
  section.input {
    textarea {
      @include square(100%);
    }
  }

  section.output {
    &.raw {
      pre {
        overflow: auto;
      }
    }

    &.rendered {
      overflow: auto;
      code {
        display: block;
      }
    }
  }
}